.rhythnic-slider {
    position: relative;
    overflow: scroll;  /* allows for users to scroll images in the absence of javascript */
}

.rhythnic-slider img { height: auto; vertical-align: top; }

.slider-nav {
    background: rgba(20, 20, 20, 0.7);
    text-align: center;
    clear: left;
}

.no-touch .slider-nav {
    display: none;
    position: absolute;
    margin: 1em;
    width: 8em;
    border: 2px solid #fff;
    border-radius: 1.5em;
}

.no-js .slider-nav { display: none; }
.no-touch .rhythnic-slider:hover .slider-nav { display: block; }

.slider-nav i {
    cursor: pointer;
    width: 1em;
    padding: 0.3em 1.3em;
    color: #fff;
    font-size: 1.3em;
}

.no-touch .slider-nav i {
    padding: 0.3em 0.4em;
}

.rhythnic-slider ul {
    list-style: none;
    width: 10000px;
    margin: 0;
    padding: 0;
    -webkit-transition: margin-left .6s, -webkit-transform .6s;
    transition: margin-left .6s, transform .6s;
}

.rhythnic-slider li {
    float: left;
    position: relative;
}

/* captions */
.rhythnic-slider p {
    font-size: 0.8em;
    position: absolute;
    background: rgba(20, 20, 20, 0.7);
    color: #fff;
    padding: 1em 1.5em;
    bottom: 0; 
    margin: 0;
    line-height: 1.3em;
    letter-spacing: 0.09em;
}