@import url(normalize.css);

html { font-size: 80%; }

body { padding: 1rem;}

h1 { font-size: 2.2rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
p, a, li, dt, dd { font-size: 1.6rem;}

code {
    font-size: 1.4rem;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.slideshow {
    width: 100%;
    font-size: 100%;  /* adjust to control the sizing of the elements in slideshow, which are sized using em */ 
}