.slideshow {
    width: 600px; /* width of each image */
    height: 400px; /* height of each image */
    position: relative;
    overflow: scroll;  /* allows for users to scroll images in the absence of javascript */
    font-size: 100%;  /* adjust to control the sizing of the elements in slideshow, which are sized using em */
}

.slideshow-nav {
    display: none;
    margin: 1em;
    width: 8em;
    position: absolute;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 1.5em;
    border: 2px solid #fff;
    text-align: center;
}

.slideshow-nav i {
    cursor: pointer;
    width: 1em;
    padding: 0.3em 0.4em;
    color: #fff;
    font-size: 1.3em;
}

.slideshow ul {
    list-style: none;
    width: 10000px;
    margin: 0;
    padding: 0;
}

.slideshow li {
    float: left;
    position: relative;
}

.slideshow p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 1em 1.5em; 
    margin: 0;
    color: #fff;
    background: rgba(20, 20, 20, 0.7);
    line-height: 1.3em;
    letter-spacing: 0.09em;
}